<div class="row justify-content-center">
  <div class="col-lg-8 col-xl-7">
    <form id="contactForm">
      <div class="form-floating mb-3">
        <input
          class="form-control"
          id="nome"
          name="nome"
          type="text"
          [(ngModel)]="produto.nome"
          placeholder="Digite o seu nome..."
        />
        <label for="nome">Nome</label>
      </div>
      <div class="form-floating mb-3">
        <input
          class="form-control"
          id="descricao"
          name="descricao"
          type="text"
          [(ngModel)]="produto.descricao"
        />
        <label for="descricao">Descrição</label>
      </div>
      <div class="form-floating mb-3">
        <input
          class="form-control"
          id="preco"
          name="preco"
          type="text"
          [(ngModel)]="produto.preco"
        />
        <label for="preco">Preço</label>
      </div>

      <button
        class="btn btn-primary btn-xl"
        id="submitButton"
        type="button"
        (click)="incluir()"
      >
        Incluir
      </button>
    </form>
  </div>
</div>
